@model IEnumerable<Project3.Models.Pur>

@{
    ViewData["Title"] = "allpur";
}
<h1>Total Purchases made by @ViewBag.name </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purquantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Flag)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.CidNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PidNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purquantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.CidNavigation.Cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PidNavigation.Pname)
            </td>*@
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.Puid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Puid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Puid">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
